<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Job Map</title>

    <!-- JS, Leaflet, d3 CDNs-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{{url_for('static', filename='js/leaflet-heat.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  </head>

  <body>
      <nav class=“navbar”>
        <p align='center'><h1>Job Posting Visualization With Indeed.com</h1></p>

        <input id="inputText" placeholder='Enter Search Term'>
        <button id="searchJobsbutton" type="button" onclick="enterSearch()">Scrape For New Job Posts</button>
        <button id="mapResultsButton" type="button" onclick="mapResults()">Map Job Search</button>

        <p>All Information is for reference only.</p>
      </nav>

      <div id='scrapeText'></div>
      <div id='mapText'></div>
      <div id='salaryText'></div>
      <div id="map"></div>
      <div id='mapholder'></div>


    <!-- Data, jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/config.js')}}"></script>
    <script src="{{url_for('static', filename='js/zillow.js')}}"></script>
    <script src="{{url_for('static', filename='js/msa.js')}}"></script>
    <script src="{{url_for('static', filename='js/cpi.js')}}"></script>
    <script src="{{url_for('static', filename='js/logic.js')}}"></script>
  </body>
</html>

